@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Josefin+Sans:wght@500;600;700&family=Playfair+Display:wght@500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {

  font-family: 'Josefin Sans', sans-serif !important;
  background-color: #FAFAFA !important;
  overflow-x: hidden !important;
}

.ff_Chonburi {
  font-family: 'Chonburi', serif !important;
}

.ff_Playfair {
  font-family: 'Playfair Display', serif !important;
}

/*--------------------------------- ROOT-DEFINE-VALUES --------------------------------- */
:root {
  --font-xs: 16px;
  --font-base: 18px;
  --font-sm: 24px;
  --font-md: 30px;
  --font-lg: 36px;
  --font-xl: 48px;
  --font-2xl: 50px;
}

/*--------------------- DEFINE-ALL = ROOT-VALUE ------------------------------ */

.opacity_06 {
  opacity: 0.6;
}
.opacity_08{
  opacity: 0.8;
}


/*---------------------------- DEFINE-ALL = FONT-SIZES ---------------------------- */
.font-xs {
  font-size: var(--font-xs) !important;
}

.font-sm {
  font-size: var(--font-sm) !important;
}

.font-base {
  font-size: var(--font-base) !important;
}

.font-md {
  font-size: var(--font-md) !important;
}

.font-lg {
  font-size: var(--font-lg) !important;
}

.font-xl {
  font-size: var(--font-xl) !important;
}

.font-2xl {
  font-size: var(--font-2xl) !important;
}


/*---------------------------- DEFINE-ALL = FONT-WEIGHT ---------------------------- */

.fw_medium {
  font-weight: 500 !important;
}

.custom_container{
  max-width: 1140px !important;
  margin: 0 auto;
  padding: 0 12px 0 12px;
}
/*------------------------ DEFINE-ALL = @media----FONT SIZE-SET--------------------  */

@media (max-width: 1199.98px) {
  :root {
    --font-xs: 16px;
    --font-sm: 20px;
    --font-md: 22px;
    --font-lg: 26px;
    --font-xl: 44px;
    --font-2xl: 48px;
  }
}

@media (max-width: 991.98px) {
  :root {

    --font-sm: 18px;
    --font-md: 22px;
    --font-lg: 26px;
    --font-xl: 42px;
  }
}

@media (max-width: 767.98px) {
  :root {
    --font-xs: 14px;
    --font-sm: 18px;
    --font-md: 20px;
    --font-lg: 24px;
    --font-xl: 38px;
    --font-2xl: 42px;
  }
}

@media (max-width: 575.98px) {
  :root {
    --font-xs: 14px;
    --font-sm: 16px;
  --font-base: 16px;
    --font-md: 18px;
    --font-lg: 22px;
    --font-xl: 34px;
    --font-2xl: 38px;
  }
}

.sub_heading {
  font-weight: 700;
  color: #000;
  font-size: var(--font-2xl);
}

.color_black {
  color: #000 !important;
}

.btn_nav {
  line-height: 18px;
  border-radius: 25px;
  background: #000;
  color: #fff;
  font-weight: 600;
  font-size: var(--font-base);
  padding: 8px 28px;
}

.placeholder_nav {
  border: none;
  outline: none;
  font-size: var(--font-xs);
  font-weight: 400;
  background-color: transparent;
}

.Search_bar {
  border-radius: 25px;
  padding: 12px 11px;
  border: 1px solid #B3B3B3;

}

.hover_line::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  color: #000 !important;
  background-color: #000;
  bottom: -1px;
  left: 50%;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.hover_line:hover::after {
  width: 100%;
  left: 0;
}

/* --------------------HERO-SECTION--------------------- */
.hero_bg_img {
  background-image: url(./assets/images/webp/hero_img.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.min_h_hero {
  min-height: 424px;
}

.hero_circle {
  top: 100%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Learn_more_btn {
  color: #27A099;
  font-size: var(--font-base);
  font-weight: 600;
  line-height: 18px;
  border: 1px solid #27A099;
  background-color: transparent;
  border-radius: 25px;
  padding: 9px 20px;
}

.Learn_more_setup {
  transform: translateY(140px);
}

.best_NFT_card {
  min-height: 570px;
  border-radius: 25px;
  border: 1px solid rgba(39, 160, 153, 0.49);
  background-color: #FFF !important;
  padding: 35px 27px 29px 27px;
}

.BestNftIcon {
  transform: translateY(-4px) !important;
}

.best_NFT_btn {
  font-size: var(--font-base);
  line-height: 18px;
  font-weight: 600;
  color: #fff;
  background-color: #27A099;
  padding: 9px 20px;
  border-radius: 25px;
  border: none;
  margin-top: 42px;
}

.Rating_btn {
  padding: 7px 38px;
  border-radius: 25px;
  transform: translateY(20px);

}
.top_NFT_box{
  padding:61px 12px 58px 12px ;
  border:1px solid #0000000D;
border-radius: 25px;
    box-shadow: 0px 4px 6px 2px #CDCDCD;
}
.top_NFT_para{
  max-width: 969px;
  margin: 0 auto;
}
.About_antonym_para{
  max-width: 1051px;

}
.list_style_disc{
  list-style: disc;
}
.features_box{
  margin-top:79px;
  background-color: #FFFFFF;
border: 1px solid #27A099DE;
border-radius: 25px;
padding:39px 73px  63px 73px;
}
.features_img{
  max-width:242px;
  min-height:242px ;
}
.AboutFeatures_para{
  max-width: 1000px;
}
.Most_Anticipated_card{
  border-radius: 25px;
  padding:38px 33px 29px 33px ;
  border: 1px solid #27A0997D
}
.Most_Anticipated_heading{
  min-height: 57px;
}
.Most_Anticipated_para{
  min-height: 216px;
}
@media (max-width: 1199.98px) {
  .overflow-y-hidden {
    overflow: hidden !important;
    height: 100vh !important;
  }

  .nav_show {
    position: fixed;
    height: 0vh;
    background-color: #D9ECF6;
    -webkit-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    transition: all 0.6s linear;
    left: -100%;
    height: 100vh;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 10;
    top: 0;
  }

  .nav_show.show {
    left: 0%;
  }

  .nav_property {
    padding: 7px 20px 6px 16px;
  }
.best_NFT_card{
  min-height: unset;
}
.Most_Anticipated_para {
    min-height: 110px;
}
}

@media (max-width: 991.98px){
  .features_box{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    padding:20px;
  }
  .best_NFT_btn{
    margin-top: 32px;
  }
  .Most_Anticipated_para {
    min-height: 189px;
}
}
@media (max-width: 767.98px) {
   .Most_Anticipated_para {
    min-height: unset;
}
.Most_Anticipated_heading {
    min-height: unset;
}
}
@media (max-width: 575.98px) {
  .top_NFT_box{
      padding:30px 12px ;

  }
}